body {
    font-family: Georgia, serif;
    font-size:18px;
    background: rgb(2,0,36);
    background-image: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 49%, rgba(16,124,145,1) 100%);
    background-attachment: fixed;
    }
    
    h1 {
        text-align: center;
        font-size: 50px;
        color: white; 
    }
    
    h2 {
        text-align: center;
        font-size: 30px; 
        color: yellow;
    }

    label {
    margin-left:75px;
    
    width:100px;
    font-family: "Calibri";
    font-size:16px;
    }
    
    #username {
    width:150px;
    margin-left:75px;
    border: 1px solid blue;
    border-radius: 3px;
    height:22px;
    }
    
    #password {
    width:150px;
    margin-left:75px;
    border: 1px solid black;
    border-radius: 3px;
    height:22px;
    }
    
    .box {
    border:#666666 solid 1px;
    }
    
    .login_button {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 30px;
    text-align:center;
    margin:0 auto;
    border-radius: 4px;
    background: lightcyan;
    font-family: "Calibri";
    font-size:14px;
    
    }
    
    .auth_div {
            width: 300px;
            height: 230px;
            background-color: lightgray;
            border-radius: 10px;
            /*border-style:double;*/
            box-shadow: 10px 10px 5px black;
    
            position:absolute; /*it can be fixed too*/
            left:0; right:0;
            top:0; bottom:0;
            margin:auto;
            
            padding-top: 25px;
    
    }

#error_div {
    font-size:12px;
    color:#cc0000;
    margin-top:10px;
    text-align: center;
}

